*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color:rgb(35, 8, 8) ;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-shadow: .7;
    
}
#center{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
   
}
.imagediv{
    position: absolute;
    width: 300px;
    height: 340px;
    /* background-color: rgb(47, 98, 98); */
    overflow: hidden;
}
.imagediv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
}